/* space-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/space-mono-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* space-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/space-mono-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --colors-blue-300: #60abff;
  --colors-blue-500: #0079ff;
  --colors-red-500: #f74646;

  --colors-neutral-0: #ffffff;
  --colors-neutral-100: #f6f8ff;
  --colors-neutral-200: #90a4d4;
  --colors-neutral-300: #697c9a;
  --colors-neutral-500: #4b6a9b;
  --colors-neutral-700: #2b3442;
  --colors-neutral-800: #1e2a47;
  --colors-neutral-900: #141d2f;

  --spacing-0: 0;
  --spacing-100: 8;
  --spacing-150: 12;
  --spacing-200: 16;
  --spacing-250: 20;
  --spacing-300: 24;
  --spacing-400: 32;
  --spacing-500: 40;
  --spacing-600: 48;
  --spacing-800: 64;
  --spacing-1000: 80;
  --spacing-025: 2;
  --spacing-050: 4;
  --spacing-075: 6;
  --cornerradius-0: 0;
  --cornerradius-4: 4;
  --cornerradius-6: 6;
  --cornerradius-8: 8;
  --cornerradius-10: 10;
  --cornerradius-12: 12;
  --cornerradius-16: 16;
  --cornerradius-20: 20;
  --cornerradius-24: 24;
  --cornerradius-full: 999;

  /* Colors */
  --color-primary: var(--colors-blue-500);
  --color-accent: var(--colors-blue-500);
  --color-background: var(--colors-neutral-100);

  --color-background-surface: var(--colors-neutral-0);
  --color-header-text: var(--colors-neutral-700);
  --color-body-text: var(--colors-neutral-500);

  --color-error: var(--colors-red-500);

  /* Typography */
  --font-heading: "Space Mono", ui-monospace, Consolas, monospace;
  --font-body: "Space Mono", ui-monospace, Consolas, monospace;

  /* Layout */
  --container-max: 730px;
  --container-padding: 0;

  /* Radius */
  /* --radius-sm: #{$radius-sm};
  --radius-md: #{$radius-md};
  --radius-lg: #{$radius-lg};
  --radius-pill: #{$radius-pill}; */

  /* Shadows */
  /* --shadow-sm: #{$shadow-sm};
  --shadow-md: #{$shadow-md};
  --shadow-lg: #{$shadow-lg}; */

  /* Transition */
  /* --transition: #{$transition-base};
  --transition-slow: #{$transition-slow}; */
}

[data-theme="dark"] {
  --color-primary: var(--colors-blue-500);
  --color-accent: var(--colors-blue-500);
  --color-background: var(--colors-neutral-900);

  --color-background-surface: var(--colors-neutral-800);
  --color-header-text: var(--colors-neutral-0);
  --color-body-text: var(--colors-neutral-0);
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/*~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~~>
<~~           Reset            ~~>
<~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
    overflow-x: hidden;
  }
}

body {
  color: var(--color-body-text);
  background-color: var(--color-background);
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
select,
textarea {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-header-text);
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*
  11. My own items
*/
html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  background: none;
}

p {
  max-width: 65ch;
}

/*~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~~>
<~~         Utilities          ~~>
<~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~*/

.container {
  width: 100%;
  margin-inline: auto;
  max-width: var(--container-max);
  padding-inline: var(--container-padding);
}

.btn {
  border-radius: 0.5rem;
  border-style: none;
  border: 2px solid transparent;
  display: inline-block;
  font-weight: 700;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0.6em 1.5em;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    color 0.3s;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &--solid {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-body-text);
    &:hover,
    &:focus {
      background-color: transparent;
      border-color: var(--color-primary);
      color: var(--color-body-text);
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: inset(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.skip {
  background-color: var(--color-primary);
  color: var(--color-header);
  left: -9999px;
  opacity: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  z-index: 999;

  &:focus {
    font-weight: 700;
    left: 50%;
    opacity: 1;
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;

    transform: translateX(-50%);
  }
}
